h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
} 

h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: powderblue;
  text-align: center;
}


