body{
  margin: 0;
  padding: 0;
  padding-bottom: 58px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  /* background-position: center center; */
  background-image: url(../imges/images/family.jpg);
} 
.nav-bar{
  left: 50%;
  bottom: 85%;
  width: 100%;
  text-align: center;
  position: fixed;
  display: inline-block;
  transform: translate(-50%,-50%);
  background-color: rgb(170, 113, 72);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav-bar li:hover{
  background-color: rosybrown;
}
.nav-bar > ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  background-color: rgb(170, 113, 72);
}
.nav-bar > ul > li{
  float: left;
  width: 136px;
  height: 50px;
  font-size: 15px;
  cursor: pointer;
  line-height: 50px;
  position: relative;
  letter-spacing: 1px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.dropdown{
 left: 0;
 top: 100%;
 padding: 0;
 width: 100%;
 position: absolute;
}
.dropdown li{
  display: none;
  background-color: rgb(207, 186, 167);
}
.dropdown li:hover{
  background-color: sandybrown;
}
.nav-bar li:hover > .dropdown li{
  display: block;
}
.nav-bar li:hover > .dropdown{
  perspective: 1000px;
}
header{
  font-size: 20px;
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
th, td{
  width: 600px; 
  padding: 3px;
  margin: 0 auto;
  text-align: left;
  border: 1px solid #000;
  border-collapse: collapse;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
table{
  width: 600px; 
  padding: 3px;
  margin: left;
  margin-top: 10px;
  border: 1px solid #000;
  border-collapse: collapse;
  font-family: Georgia, 'Times New Roman', Times, serif;
} 
tr:nth-child(even){
  background-color: rosybrown;
}
footer{
  bottom: 0;
  width: 100%;
  padding: 0px;
  position: fixed;
  text-align: center;
  background-color: rgb(170, 113, 72);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
form{
  margin-top: 20px;
}






